spring:
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  data:
    redis:
      host: localhost
      port: 6379


  jpa:
    hibernate:
      # create: 서버 실행 시 테이블을 새로 만듭니다. (초기 개발용)
      # update: 기존 데이터는 유지하고 구조만 변경합니다.
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        # MySQL 8 버전 이상에 최적화된 문법 사용
        dialect: org.hibernate.dialect.MySQL8Dialect
  profiles:
    include: secret
